.todo-item-preview {
  border: 1px solid darkgray;
  cursor: pointer;

  .todo-preview-title {
    font-size: 20px;
  }

  .todo-preview-content {
    font-size: 12px;
  }
}

.home-link {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  text-align: center;
  background-color: #0000ee;
  color: white;
}
